@font-face {
  font-family: 'Madelyn-Regular';
  src: url('../fonts/336310_0_0.eot');
  src: url('../fonts/336310_0_0.eot?#iefix') format('embedded-opentype'),
  url('../fonts/336310_0_0.woff2') format('woff2'),
  url('../fonts/336310_0_0.woff') format('woff'),
  url('webfonts/336310_0_0.ttf') format('truetype');
}
