$_form-background-color: $white;
$_form-box-shadow: inset 0 1px 3px rgba(#000, 0.06);
$_form-box-shadow-focus: $_form-box-shadow, 0 0 5px rgba($strong-accent-color, 0.7);

fieldset {
  background-color: transparent;
  border: 0;
  margin: 0;
  padding: 0;
}

legend {
  font-weight: 400;
  margin-bottom: 0.25rem;
  padding: 0;
}

label {
  display: block;
  font-weight: 400;
  margin-bottom: 0.25rem;
}

input,
select,
textarea {
  display: block;
  font-family: $base-font-family;
  font-size: 1rem;
}

[type=text] {
  display: block;
  font-family: $base-font-family;
  font-size: 1rem;
  appearance: none;
  background-color: $_form-background-color;
  border: $base-border;
  border-radius: $base-border-radius;
  box-shadow: $_form-box-shadow;
  box-sizing: border-box;
  margin-bottom: 0.5rem;
  padding: 0.25rem;
  transition: border-color $base-duration $base-timing;
  width: 100%;

  &:hover {
    border-color: $strong-accent-color;
  }

  &:focus {
    border-color: $strong-accent-color;
    box-shadow: $_form-box-shadow-focus;
    outline: none;
  }

  &:disabled {
    background-color: darken($_form-background-color, 5%);
    cursor: not-allowed;

    &:hover {
      border: $base-border;
    }
  }

  &::placeholder {
    color: lighten($base-font-color, 40%);
  }
}

textarea {
  resize: vertical;
}

[type="checkbox"],
[type="radio"] {
  display: inline;
  margin-right: 0.25rem;
}

[type="file"] {
  margin-bottom: 0.5rem;
  width: 100%;
}

select {
  margin-bottom: 0.5rem;
  width: 100%;
}

[type="checkbox"],
[type="radio"],
[type="file"],
select {
  &:focus {
    outline: $focus-outline;
    outline-offset: $focus-outline-offset;
  }
}
