// Typography
@import url("https://fonts.googleapis.com/css?family=Arapey:400,400i|Lato:300,400,700");
$base-font-family: "Arapey", georgia, serif;
$alt-font-family: "Lato", helvetica, sans-serif;
$handwritten-font-family: "Madelyn-Regular", georgia, serif;

// Line height
$base-line-height: 1.4;
$heading-line-height: 1.2;

// Other Sizes
$base-border-radius: 5px;
$base-z-index: 0;

// Colors
$teal: #a5d6d8;
$beige: #f6ede8;
$tan: #e7d0ba;
$purple: #9a8194;
$black: #111;
$white: #fff;
$off-white: #f9f9f9;

// Font Colors
$base-font-color: $black;
$soft-accent-color: $beige;
$strong-accent-color: $teal;

// Font Sizes
$base-font-size: 1rem;
$small-font-size: 0.85rem;
$x-small-font-size: 0.65rem;

// Border
$base-border-color: $tan;
$base-border: 1px solid $base-border-color;

// Background Colors
$viewport-background-color: #fff;

// Focus
$focus-outline-color: $strong-accent-color;
$focus-outline-width: 2px;
$focus-outline: $focus-outline-width solid $focus-outline-color;
$focus-outline-offset: 2px;

// Animations
$base-duration: 150ms;
$base-timing: ease;

// Media Queries
$large-screen-and-up: 900px;
$medium-screen-and-up: 500px;
