<section class="landing-hero">
  <div class="landing-hero__border">
    <article class="landing-hero__content">
      <h1 class="landing-hero__title">All your travel details in one, beautiful place.</h1>
      <p>
        HELE is an elegant travel diary that's easy to share with friends and family.
      </p>
      <a href="/register" class="button landing-hero__button">Sign up</a>
    </article>
  </div>
</section>
<section class="value-prop">
  <ul class="value-prop__list">
    <li class="value-prop__item">
      <img class="value-prop__item-image" src="/images/plane.svg">
      <h2 class="value-prop__item-title">
        Dates, flights, hotels, all organized.
      </h2>
      <p>
        All the details from your entire trip in a single web page for you to reference before you take off.
      </p>
    </li>
    <li class="value-prop__item">
      <img class="value-prop__item-image" src="/images/mouse-click.svg">
      <h2 class="value-prop__item-title">
        Easy to share
      </h2>
      <p>
        Share your upcoming plans with anyone simply by sending them a link to your trip page.
      </p>
    </li>
    <li class="value-prop__item">
      <img class="value-prop__item-image" src="/images/diary.svg">
      <h2 class="value-prop__item-title">
        Keep a diary of your adventures
      </h2>
      <p>
        Update your trip page with sites you visited and diary entries while you travel to create a digital scrapbook.
      </p>
    </li>
  </ul>
</section>
<section class="landing-cta">
  <h2 class="heading--medium">Try it!</h2>
  <p>Login as username: "demo-user", password: "password" to demo the application.
  </p>
</section>
<footer class="landing-footer">
  <p>Made by <a href="http://brendastorer.com" rel="noopener" target="_blank">Brenda Storer</a>.</p>
  <p>Icons by Juan Pablo Bravo from the Noun Project. Photo by Death to Stock Photo.</p>
</footer>
   