<div class="patterned-bg">
  <div class="form-container__border">
    <section class="form-container">
      <header class="form-container__header">
      	<h1 class="form-container__heading">Login</h1>
        <p>
          Login to a demo account with the credentials username: <em>demo-user</em>, password: <em>password</em>.
        </p>
      </header>
    	<form action="/login" method="post" role="form">
    		<label>Username</label>
    		<input type="text" name="username"/>
    		<label>Password</label>
    		<input type="password" name="password"/>
    		<input type="submit" value="Submit"/>
    	</form>
    </section>
  </div>
</div>
