<header class="trip-header">
  <div class="trip-header__photos js-trip-day-photos">
  </div>
  <div class="trip-header__info js-trip-info">
    <div class="js-trip-interests">
    </div>
  </div>
</header>
<div class="js-trip-calendar trip-calendar"></div>
<section class="js-trip-day trip-day"></section>