<section class="form-container">
  <h1 class="form-container__heading">Add a new trip</h1>
  <form action="/trips" method="post" role="form">
    <label for="title">Title *</label>
    <input type="text" name="title" placeholder='e.g. "Australia 2017"'/>
    <label for="description">Description (maximum length 100 characters) *</label>
    <textarea name="description" placeholder="Add a short description of your trip..." maxlength="100" /></textarea>


    <input type="submit" value="Submit"/>
  </form>
</section>