@import url("https://fonts.googleapis.com/css?family=Arapey:400,400i|Lato:300,400,700");
.heading--x-large {
  font-size: 2.5em; }

.heading--large {
  font-size: 2em; }

.heading--medium {
  font-size: 1.5em; }

.heading--small-caps {
  font-family: "Lato", helvetica, sans-serif;
  font-size: 0.65rem;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  display: block;
  margin-bottom: 0.25em; }

.small-caps {
  font-family: "Lato", helvetica, sans-serif;
  font-size: 0.65rem;
  letter-spacing: 0.1em;
  text-transform: uppercase; }

button,
[type="submit"],
.button {
  font-family: "Lato", helvetica, sans-serif;
  font-size: 0.65rem;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-color: #d7eada;
  border: 0;
  border-radius: 0;
  color: #111;
  cursor: pointer;
  display: inline-block;
  -webkit-font-smoothing: antialiased;
  line-height: 1;
  min-width: 12em;
  padding: 0.75rem 1rem;
  text-align: center;
  text-decoration: none;
  -webkit-transition: background-color 150ms ease;
  transition: background-color 150ms ease;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap; }
  button:hover,
  [type="submit"]:hover,
  .button:hover {
    background-color: #a5d6d8;
    color: #111; }
  button:focus,
  [type="submit"]:focus,
  .button:focus {
    outline: 2px solid #a5d6d8;
    outline-offset: 2px; }
  button:disabled,
  [type="submit"]:disabled,
  .button:disabled {
    cursor: not-allowed;
    opacity: 0.5; }
    button:disabled:hover,
    [type="submit"]:disabled:hover,
    .button:disabled:hover {
      background-color: #d7eada; }

@font-face {
  font-family: 'Madelyn-Regular';
  src: url("../fonts/336310_0_0.eot");
  src: url("../fonts/336310_0_0.eot?#iefix") format("embedded-opentype"), url("../fonts/336310_0_0.woff2") format("woff2"), url("../fonts/336310_0_0.woff") format("woff"), url("webfonts/336310_0_0.ttf") format("truetype"); }

fieldset {
  background-color: transparent;
  border: 0;
  margin: 0;
  padding: 0; }

legend {
  font-weight: 400;
  margin-bottom: 0.25rem;
  padding: 0; }

label {
  font-family: "Lato", helvetica, sans-serif;
  font-size: 0.65rem;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  display: block;
  margin-bottom: 0.5rem; }

input,
select,
textarea {
  background-color: #fff;
  border-radius: 5px;
  border: 1px solid #d6dad8;
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06);
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  font-family: "Arapey", georgia, serif;
  font-size: 1rem;
  margin-bottom: 1rem;
  padding: 0.5rem;
  -webkit-transition: border-color 150ms ease;
  transition: border-color 150ms ease;
  width: 100%; }
  input[type="submit"],
  select[type="submit"],
  textarea[type="submit"] {
    margin-bottom: 0;
    width: auto; }
  input:hover,
  select:hover,
  textarea:hover {
    border-color: #a5d6d8; }
  input:focus,
  select:focus,
  textarea:focus {
    border-color: #a5d6d8;
    -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06), 0 0 5px rgba(165, 214, 216, 0.7);
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06), 0 0 5px rgba(165, 214, 216, 0.7);
    outline: none; }
  input:disabled,
  select:disabled,
  textarea:disabled {
    background-color: #f2f2f2;
    cursor: not-allowed; }
    input:disabled:hover,
    select:disabled:hover,
    textarea:disabled:hover {
      border: 1px solid #d6dad8; }
  input::-webkit-input-placeholder,
  select::-webkit-input-placeholder,
  textarea::-webkit-input-placeholder {
    color: #aaaaaa;
    font-style: italic; }
  input:-ms-input-placeholder,
  select:-ms-input-placeholder,
  textarea:-ms-input-placeholder {
    color: #aaaaaa;
    font-style: italic; }
  input::-ms-input-placeholder,
  select::-ms-input-placeholder,
  textarea::-ms-input-placeholder {
    color: #aaaaaa;
    font-style: italic; }
  input::placeholder,
  select::placeholder,
  textarea::placeholder {
    color: #aaaaaa;
    font-style: italic; }

textarea {
  resize: vertical; }

[type="checkbox"],
[type="radio"] {
  display: inline;
  margin-right: 0.5rem;
  width: auto; }

[type="file"] {
  margin-bottom: 0.5rem;
  width: 100%; }

select {
  margin-bottom: 0.5rem;
  width: 100%; }

[type="checkbox"]:focus,
[type="radio"]:focus,
[type="file"]:focus,
select:focus {
  outline: 2px solid #a5d6d8;
  outline-offset: 2px; }

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

html,
body {
  height: 100%; }

html {
  background-color: #fff; }

body {
  margin: 0; }

a {
  border-bottom: 2px solid #a5d6d8;
  color: #111;
  display: inline-block;
  fill: currentColor;
  padding-bottom: 2px;
  text-decoration: none;
  -webkit-transition: all 150ms ease;
  transition: all 150ms ease; }
  a:hover {
    border-bottom-color: transparent;
    color: #459c9f; }
  a:active, a:focus {
    outline: 2px solid #a5d6d8;
    outline-offset: 2px; }
  a img {
    border-bottom: 0; }

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0; }

dl {
  margin: 0; }

dt {
  font-weight: 600;
  margin: 0; }

dd {
  margin: 0; }

figure {
  margin: 0; }

img,
picture {
  height: auto;
  margin: 0;
  width: 100%; }

html {
  font-size: 18px; }

body {
  color: #111;
  font-family: "Arapey", georgia, serif;
  line-height: 1.4;
  text-rendering: optimizeLegibility; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Arapey", georgia, serif;
  font-weight: 400;
  line-height: 1.2;
  margin: 0 0 0.5rem; }

p {
  line-height: 1.4;
  margin: 0 0 0.5rem; }

hr {
  border-bottom: 1px solid #d6dad8;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  margin: 1rem 0; }

em {
  font-style: italic; }

.form-checkbox__label {
  -webkit-box-align: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.form-container {
  background-color: #fff;
  margin: 0 auto;
  max-width: 30rem;
  padding: 1rem 1.5rem 1.5rem; }

.form-container__border {
  background-color: rgba(255, 255, 255, 0.7);
  padding: 10px;
  margin: 0 auto;
  max-width: 25rem; }

.form-container__header {
  margin-bottom: 1.5rem; }

.form-container__heading {
  font-size: 2em;
  margin-bottom: 0.5rem; }

.form-container__subheading {
  font-size: 1.25em;
  margin-bottom: 1rem; }

.form-container__section {
  margin-bottom: 1.5rem; }

.form-container__link {
  font-family: "Lato", helvetica, sans-serif;
  font-size: 0.65rem;
  letter-spacing: 0.1em;
  text-transform: uppercase; }

.form-container__actions {
  margin-top: 2rem; }

.form-container__added-field {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.form-container__remove {
  font-family: "Lato", helvetica, sans-serif;
  font-size: 0.65rem;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  border-bottom: 0;
  font-size: 0.9rem;
  font-weight: 300;
  line-height: 1;
  margin: 0 0.75rem 0.5rem; }
  .form-container__remove:hover {
    color: red; }

.landing-cta {
  background-color: #daeeef;
  padding: 2.5rem 1.5rem;
  text-align: center; }

.landing-footer {
  border-top: 1px solid #ebedec;
  font-size: 0.8rem;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  padding: 1.5rem;
  text-align: center; }

.landing-hero {
  background-image: url("/images/hero-1.jpg");
  background-position: center;
  background-size: cover;
  height: calc(90vh - 4.75rem);
  position: relative;
  width: 100%; }

.landing-hero__border {
  background-color: rgba(255, 255, 255, 0.7);
  padding: 10px;
  left: 0;
  max-width: 30rem;
  position: absolute;
  top: 35%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%); }
  @media (min-width: 500px) {
    .landing-hero__border {
      left: 1.5rem; } }

.landing-hero__content {
  background-color: #fff;
  padding: 1.5rem; }

.landing-hero__title {
  font-size: 1.5em; }
  @media (min-width: 500px) {
    .landing-hero__title {
      font-size: 1.75em; } }
  @media (min-width: 900px) {
    .landing-hero__title {
      font-size: 2em; } }

.landing-hero__button {
  margin-top: 0.5rem; }
  .landing-hero__button.primary {
    background-color: #a5d6d8; }

.patterned-bg {
  background-color: #111;
  background-image: url("../images/palms-bg.png");
  background-size: cover;
  padding: 4rem 0 1rem;
  height: calc(100vh - 4.75rem);
  width: 100%; }

.site-header {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  height: 4.75rem;
  margin: 0 1.5rem; }

.site-header__logo {
  border-bottom: 0;
  line-height: 1;
  padding-bottom: 0; }

.site-header__mobile-nav-toggle {
  border-bottom: 0;
  line-height: 1;
  margin-left: 2rem;
  padding-bottom: 0; }
  @media (min-width: 750px) {
    .site-header__mobile-nav-toggle {
      display: none; } }

.site-header__nav {
  font-family: "Lato", helvetica, sans-serif;
  font-size: 0.65rem;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  display: none; }
  @media (min-width: 750px) {
    .site-header__nav {
      display: block; } }
  .site-header__nav.is-active {
    background-color: white;
    display: block;
    padding: 0.5rem 1.5rem 0;
    position: absolute;
    right: 0;
    text-align: right;
    top: 4.75rem;
    z-index: 100; }

.site-header__nav-item {
  margin-bottom: 1.5rem; }
  @media (min-width: 750px) {
    .site-header__nav-item {
      display: inline-block;
      margin-bottom: 0;
      margin-left: 1.5rem; } }

.tag {
  background-color: #f6ede8;
  border-radius: 1em;
  display: inline-block;
  font-family: "Lato", helvetica, sans-serif;
  font-size: 0.65rem;
  padding: 0.25em 0.8em 0.5em;
  text-transform: lowercase; }

.trip-calendar {
  background-color: #f9f9f9;
  display: grid;
  grid-gap: 4px;
  grid-template-columns: repeat(7, 1fr);
  text-align: center; }

.trip-calendar__link {
  background-color: #f6ede8;
  border-bottom: 0;
  display: block;
  font-size: 0.7em;
  padding: 0.4em 0.5em 0.15em;
  z-index: 0; }
  @media (min-width: 900px) {
    .trip-calendar__link {
      font-size: 1em; } }
  .trip-calendar__link:hover, .trip-calendar__link.is-active {
    background-color: #a5d6d8;
    color: #111; }
  .trip-calendar__link:focus {
    z-index: 1; }

.trip-calendar__date {
  display: block;
  font-size: 1.3em;
  margin-bottom: 0.15em; }

@media (min-width: 900px) {
  .trip-header {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    height: 55vh; } }

.trip-header__title {
  font-size: 2.5em;
  display: inline-block;
  margin-right: 0.5rem; }

.trip-header__info {
  -ms-flex-item-align: end;
  align-self: end;
  padding: 1.5rem; }

.trip-header__photo-container {
  background-color: #111;
  background-image: url("../images/palms-bg.png");
  height: 55vh; }

.trip-header__photo {
  height: 55vh;
  -o-object-fit: cover;
  object-fit: cover; }

.trip-day {
  display: none;
  margin: 1.5rem;
  min-height: 50vh; }
  .trip-day.is-shown {
    display: block; }
    @media (min-width: 900px) {
      .trip-day.is-shown {
        display: grid;
        grid-gap: 1rem;
        grid-template-columns: 1fr 300px minmax(auto, 70ch) 1fr; } }

.trip-day__sidebar {
  grid-column: 2 / 3; }

.trip-day__sidebar-section {
  margin-bottom: 2rem; }

.trip-day__sidebar-simple-content {
  margin-top: 0.5rem; }

.trip-day__diary {
  grid-column: 3 / 4;
  line-height: 1.4; }

.trip-day__link {
  border: 2px solid #a5d6d8;
  border-radius: 1em;
  display: inline-block;
  line-height: 1.2;
  margin-top: 0.5rem;
  padding: 0.2em 0.8em 0.25em; }
  .trip-day__link:hover {
    background-color: #a5d6d8;
    border-color: #a5d6d8;
    color: #111; }

.trips-list {
  font-size: 0.85rem;
  list-style-type: none;
  margin-left: 1.5rem;
  margin-right: 1.5rem; }
  @media (min-width: 900px) {
    .trips-list {
      display: grid;
      grid-gap: 1.5rem;
      grid-template-columns: repeat(2, 1fr); } }

.trips-list__link {
  border-bottom: 0;
  display: block;
  overflow: hidden;
  position: relative; }
  @media (max-width: 900px) {
    .trips-list__link {
      margin-bottom: 1.5rem; } }
  .trips-list__link:hover {
    color: #111; }

.trips-list__photo-container {
  background-color: #111;
  background-image: url("../images/palms-bg.png");
  height: 250px; }
  @media (min-width: 500px) {
    .trips-list__photo-container {
      height: 400px; } }

.trips-list__photo {
  height: 250px;
  -o-object-fit: cover;
  object-fit: cover; }
  @media (min-width: 500px) {
    .trips-list__photo {
      height: 400px; } }

.trips-list__title {
  display: block; }

.trips-list__info {
  background-color: #fff;
  border-bottom: 0.5rem white solid;
  border-right: 0.5rem white solid;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  padding: 0.5rem 0 0 1rem;
  -webkit-transition: -webkit-transform ease 150ms;
  transition: -webkit-transform ease 150ms;
  transition: transform ease 150ms;
  transition: transform ease 150ms, -webkit-transform ease 150ms; }
  @media (min-width: 500px) {
    .trips-list__info {
      position: absolute;
      bottom: 0;
      right: 0;
      width: 75%; } }
  .trips-list__link:hover .trips-list__info {
    -webkit-transform: translate(-0.5rem, -0.5rem);
    transform: translate(-0.5rem, -0.5rem); }

.trips-list__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.trips-list__interests {
  margin-top: 0.75rem; }

.value-prop {
  padding: 1.5rem;
  text-align: center; }

.value-prop__list {
  margin: 0 auto; }
  @media (min-width: 900px) {
    .value-prop__list {
      max-width: 100em; }
      @supports (display: grid) {
        .value-prop__list {
          display: grid;
          grid-gap: 3rem;
          grid-template-columns: repeat(3, 1fr); } } }

.value-prop__item {
  padding-bottom: 2rem; }
  .value-prop__item:last-child {
    padding-bottom: 0; }
  @media (min-width: 900px) {
    .value-prop__item {
      padding: 0 0.5rem;
      float: left;
      width: 33.33%; }
      @supports (display: grid) {
        .value-prop__item {
          padding: 0;
          float: none;
          width: auto; } } }

.value-prop__item-title {
  font-size: 1.5em;
  margin-bottom: 0.5rem; }

.value-prop__item-image {
  height: 100px;
  width: auto; }
