$_button-background-color: $soft-accent-color;
$_button-background-color-hover: $strong-accent-color;

button,
[type="submit"],
.button {
  @include small-caps;
  appearance: none;
  background-color: $_button-background-color;
  border: 0;
  border-radius: 0;
  color: $base-font-color;
  cursor: pointer;
  display: inline-block;
  -webkit-font-smoothing: antialiased;
  line-height: 1;
  min-width: 12em;
  padding: 0.75rem 1rem;
  text-align: center;
  text-decoration: none;
  transition: background-color $base-duration $base-timing;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap;

  &:hover {
    background-color: $_button-background-color-hover;
    color: $base-font-color;
  }

  &:focus {
    outline: $focus-outline;
    outline-offset: $focus-outline-offset;
  }

  &:disabled {
    cursor: not-allowed;
    opacity: 0.5;

    &:hover {
      background-color: $_button-background-color;
    }
  }
}
