html {
  font-size: 18px;
}

body {
  color: $base-font-color;
  font-family: $base-font-family;
  line-height: $base-line-height;
  text-rendering: optimizeLegibility;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $base-font-family;
  font-weight: 400;
  line-height: $heading-line-height;
  margin: 0 0 0.5rem;
}

p {
  line-height: $base-line-height;
  margin: 0 0 0.5rem;
}

hr {
  border-bottom: $base-border;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  margin: 1rem 0;
}

em {
  font-style: italic;
}
