.form-container {
  background-color: $white;
  margin: 0 auto;
  max-width: 30rem;
  padding: 1rem 1.5rem 1.5rem;
}

.form-container__border {
  @include see-through-border;
  margin: 0 auto;
  max-width: 25rem;
}

.form-container__header {
  margin-bottom: 1.5rem;
}

.form-container__heading {
  @include heading--large;
  margin-bottom: 0.5rem;
}

.form-container__subheading {
  @include heading--small;
  margin-bottom: 1rem;
}

.form-container__section {
  margin-bottom: 1.5rem;
}

.form-container__link {
  @include small-caps;
}

.form-container__actions {
  margin-top: 2rem;
}

.form-container__added-field {
  align-items: center;
  display: flex;
}

.form-container__remove {
  @include small-caps;
  border-bottom: 0;
  font-size: 0.9rem;
  font-weight: 300;
  line-height: 1;
  margin: 0 0.75rem 0.5rem;

  &:hover {
    color: red;
  }
}