.site-header {
  align-items: baseline;
  display: flex;
  margin: 1.5rem 2rem -0.5rem;
  justify-content: space-between;
}

.site-header__logo {
  fill: $base-font-color;
}

.site-header__title {
  display: inline-block;
  font-family: $handwritten-font-family;
  font-size: 2rem;
  margin-bottom: 1rem;
  margin-left: 1rem;
}

.site-header__auth {
  a {
    border-bottom: 0;
    padding: 0 0.25em;

    &:hover {
      background-color: $strong-accent-color--lighter;
    }
  }
}