.site-header {
  align-items: center;
  background-color: $white;
  display: flex;
  height: $site-header-height;
  margin: 0 1rem 0 2rem;
  justify-content: space-between;
}

.site-header__logo-and-title {
  margin-top: 2.25rem;

  a {
    border-bottom: 0;
  }
}

.site-header__logo {
  fill: $base-font-color;
}

.site-header__title {
  display: inline-block;
  font-family: $handwritten-font-family;
  font-size: 2rem;
  margin-bottom: 1rem;
  margin-left: 1rem;
}

.site-header__auth {
  @include small-caps;

  a {
    border-bottom: 0;
    padding: 0 0.25em;

    &:hover {
      background-color: $soft-accent-color;
    }
  }
}