.tag {
  background-color: $beige;
  border-radius: 1em;
  display: inline-block;
  font-family: $alt-font-family;
  font-size: $x-small-font-size;
  padding: 0.25em 0.8em 0.5em;
  text-transform: lowercase;
}