.trip-header {
  @media (min-width: $large-screen-and-up) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    height: $trip-header-height;
  }
}

.trip-header__title {
  @include heading--x-large;
  display: inline-block; 
  margin-right: 0.5rem;
}

.trip-header__info {
  align-self: end;
  padding: 2rem;
}

.trip-header__photo-container {
  height: $trip-header-height;
}

.trip-header__photo {
  height: $trip-header-height;
  object-fit: cover;
}