.trip-slideshow {
  height: $trip-header-height;
  position: relative;
}

.trip-slideshow__photo {
  background-color: $black;
  height: $trip-header-height;
  margin: 2rem 0;
  object-fit: contain;
  position: absolute;
}