.trip-calendar {
  background-color: $off-white;
  display: grid;
  grid-gap: 4px;
  grid-template-columns: repeat(7, 1fr);
  text-align: center;
}

.trip-calendar__link {
  background-color: $beige;
  border-bottom: 0;
  display: block;
  font-size: 0.7em;
  padding: 0.5em 0.5em 0.25em;
  z-index: 0;

  @media (min-width: $large-screen-and-up) {
    font-size: 1em;
    padding: 0.75em 0.5em 0.5em;
  }

  &:hover,
  &.is-active {
    background-color: $strong-accent-color;
    color: $base-font-color;
  }

  &:focus {
    z-index: 1;
  }
}

.trip-calendar__date {
  display: block;
  font-size: 1.3em;
  margin-bottom: 0.25em;
}