.trip-day {
  display: none;
  margin: 1.5rem;
  min-height: 50vh;

  &.is-shown {
    display: block;

    @media (min-width: $large-screen-and-up) {
      display: grid;
      grid-gap: 3rem;
      grid-template-columns: 1fr 275px minmax(auto, 70ch) 1fr;
    }
  }
}

.trip-day__sidebar {
  grid-column: 2 / 3;
}

.trip-day__sidebar-section {
  margin-bottom: 2rem;
}

.trip-day__sidebar-simple-content {
  margin-top: 0.5rem;
}

.trip-day__diary {
  grid-column: 3 / 4;
  line-height: $base-line-height;
}

.trip-day__link {
  border: $link-border;
  border-radius: 1em;
  display: inline-block;
  line-height: 1.2;
  margin-top: 0.5rem;
  padding: 0.2em 0.8em 0.25em;

  &:hover {
    background-color: $strong-accent-color;
    border-color: $strong-accent-color;
    color: $base-font-color;
  }
}