$_trips-list-row-height: 400px;

.trips-list {
  font-size: $small-font-size;
  list-style-type: none;
  margin-left: 2rem;
  margin-right: 2rem;

  @media (min-width: $large-screen-and-up) {
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: repeat(2, 1fr);
  }
}

.trips-list__link {
  border-bottom: 0;
  display: block;
  overflow: hidden;
  position: relative;

  @media (max-width: $large-screen-and-up) {
    margin-bottom: 2rem;
  }

  &:hover {
    color: $base-font-color;
  }
}

.trips-list__photo-container {
  height: $_trips-list-row-height;
}

.trips-list__photo {
  height: $_trips-list-row-height;
  object-fit: cover;
}

.trips-list__title {
  display: block;
}

.trips-list__info {
  background-color: $white;
  border-bottom: 0.5rem white solid;
  border-right: 0.5rem white solid;
  box-sizing: content-box;
  padding: 0.5rem 0 0 1rem;
  transition: transform $base-timing $base-duration;

  @media (min-width: $medium-screen-and-up) {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 75%;
  }

  .trips-list__link:hover & {
    transform: translate(-0.5rem, -0.5rem);
  }
}

.trips-list__header {
  display: flex;
  justify-content: space-between;
}

.trips-list__interests {
  margin-top: 0.75rem;
}