.heading__x-large {
  font-size: 2.5em;
}

.heading__large {
  font-size: 2em;
}

.heading__medium {
  font-size: 1.5em;
}

.heading__small-caps {
  display: block;
  font-family: $alt-font-family;
  font-size: 0.6rem;
  letter-spacing: 0.1em;
  margin-bottom: 0.5em;
  text-transform: uppercase;
}