.trip-calendar {
  background-color: $off-white;
  display: grid;
  grid-gap: 2px;
  grid-template-columns: repeat(7, 1fr);
  text-align: center;
}

.trip-calendar__day {
  background-color: $soft-accent-color;
  border-bottom: 0;
  display: block;
  padding: 0.5em;

  &:hover {
    background-color: $strong-accent-color;
  }
}

.trip-calendar__date {
  display: block;
  font-size: 1.3em;
  margin-bottom: 0.25em;
}