html {
  color: $base-font-color;
  font-family: $base-font-family;
  font-size: 18px;
  line-height: $base-line-height;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $base-font-family;
  font-weight: 400;
  line-height: $heading-line-height;
  margin: 0 0 0.5rem;
}

p {
  line-height: $base-line-height;
  margin: 0 0 1rem;
}

a {
  border-bottom: 2px solid $strong-accent-color;
  color: $base-font-color;
  text-decoration: none;
  transition: border $base-duration $base-timing;

  &:hover {
    border-bottom-color: transparent;
  }

  &:focus {
    outline: $focus-outline;
    outline-offset: $focus-outline-offset;
  }

  img {
    border-bottom: 0;
  }
}

hr {
  border-bottom: $base-border;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  margin: 1rem 0;
}
